@layer utilities {
  .alert {
    @apply rounded-lg p-4 text-sm border;
  }

  .alert-success {
    @apply bg-green-50 text-green-700 border-green-200 rounded-lg p-4 text-sm border;
  }

  .alert-error {
    @apply bg-red-50 text-red-700 border-red-200 rounded-lg p-4 text-sm border;
  }
  .alert-warning {
    @apply bg-yellow-50 text-yellow-700 border-yellow-200 rounded-lg p-4 text-sm border;
  }
}
